<!-- <nav class="navbar">
  <h1 class="header-title">Item Management System</h1>
  <a routerLink="/list-items" class="nav-link" routerLinkActive="active-link">List Items</a>
  <a routerLink="/add-item" class="nav-link" routerLinkActive="active-link">Add Item</a>
  <a routerLink="/create-admin" class="nav-link" routerLinkActive="active-link">Create Admin</a>
  <a routerLink="/logout" class="nav-link" routerLinkActive="active-link">Logout</a>
  <span (click)="openProfile()" class="profile-icon">👤</span>
</nav> -->

<nav class="navbar">
  <h1 class="header-title">Item Management System</h1>
  <a routerLink="/list-items" class="nav-link" routerLinkActive="active-link">List Items</a>
  <a routerLink="/add-item" class="nav-link" routerLinkActive="active-link">Add Item</a>
  <a routerLink="/create-admin" class="nav-link" routerLinkActive="active-link">Create Admin</a>
  <a routerLink="/logout" class="nav-link" routerLinkActive="active-link">Logout</a>
  <span (click)="openProfile()" class="profile-icon">👤</span>
</nav>

<app-profile-modal [isVisible]="isProfileModalVisible" (close)="closeProfileModal()"></app-profile-modal>
